.singletaskContainer{
    justify-content: space-between;
    background-color: rgb(255, 255, 255,0.3);
    display: flex;
    border-radius: 5px;
    color: black;
    padding: 8px;
    margin-bottom: 10px;
    word-wrap: break-word !important;
    cursor: pointer;
    /* font-weight: bold; */
}

.time{
    margin-top: 5px;
}

.statusChange{
    /* color:white */
}